.header{
    display: flex;
    justify-content: space-between; /*This is shift to right side our nave items*/
    border: 1px solid black;
}

.logo{
    width: 200px;
}

.nav-items{
    padding: 0px 20px;
}

.nav-items > ul{
    display: flex;
    font-size: 24px;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex; /* If I write only this line the all card will in one line */ 
    flex-wrap: wrap; /* But If I write this line my card is not compromise in our size automatically will start new row.  */ 
}

.mapl{
    display: flex; /* If I write only this line the all card will in one line */ 
    flex-wrap: wrap; /* But If I write this line my card is not compromise in our size automatically will start new row.  */ 
}

.res-card{
    margin: 5px;
    padding: 5px;
    width: 200px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;

}

.search{
    padding: 10px;
}

.res-logo{
    width: 100%;
    height:150PX;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}